<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Создание теста</title>
</head>
<body background="images/bg1.png" bgproperties="fixed">
<div class="container" >
    <div class="row">
        <div class="col">

        </div>
        <div class="col-md-auto">


<form method="POST"
      action="testQuestions" modelAttribute="testQuestions">
        <div class="form-group">
            <h3>Создание вопроса</h3>
         <label for = "name">Введите название теста</label>
            <input type="text" class="form-control" name ="name", id="name" required>

       <p> <label for = "questionCount">Введите количество вопросов</label>
        <input type="text" class="form-control" name ="questionCount", id="questionCount" required>
       </p>
        </div>
    <input type="submit" class="btn btn-primary" value="Создать тест">
</form>

            <hr>
            <p><a class="btn btn-primary" href="teacher" role="button">Вернуться к интерфейсу учителя</a></p>
            <hr>
            <p><a class="btn btn-secondary" href="index" role="button">Вернуться к выбору пользователя</a></p>

        </div>
        <div class="col">

        </div>
    </div>
</div>
<script href="/js/bootstrap.min.js"></script>
<script href="/js/bootstrap.bundle.js"></script>
<script href="/js/jquery-3.4.1.js"></script>
</body>
</html>