<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Ошибка</title>
</head>
<body background="images/bg1.png" bgproperties="fixed">
<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-md-auto">

<h3>В тесте слишком мало вопросов ! Обратитесь к преподавателю.</h3>
<h3 th:text="${error}"></h3>
<hr>
<p><a class="btn btn-secondary" href="index" role="button">Вернуться к выбору пользователя</a></p>
        </div>
        <div class="col">

        </div>
    </div>
</div>
<script href="/js/bootstrap.min.js"></script>
<script href="/js/bootstrap.bundle.js"></script>
<script href="/js/jquery-3.4.1.js"></script>
</body>
</html>