<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
       <title>Выбор пользователя</title>
</head>
<body background="images/bg1.png" bgproperties="fixed">
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div><!--Пустой блок с права-->
            <div class="col-md-6">
                <img src="images/logo.png" class="card-img-top" alt="..." style="width: 30rem;">
                <div class="clearfix"></div>
            </div>
            <div class="col-md-3"></div><!--Пустой блок с лева-->

        </div>

    </div>

    <h1 class="display-4">Выбор пользователя</h1>
    <p class="lead">Данный сайт предоставляет услуги тестирования студентов. Выберите пользователя и продолжайте работу.</p>
    <hr class="my-4">
    <p class="lead">
    <p>Преподаватель может просматривать результаты тестов студентов и добавлять вопросы.</p>
        <a class="btn btn-primary btn-lg" href="teacher" role="button">Войти как преподаватель</a>
    </p>
    <p class="lead">
    <p>Студент вводит свои данные и проходит тест, созданный преподавателем.</p>
        <a class="btn btn-primary btn-lg" href="student" role="button">Войти как студент</a>
    </p>
</div>
<h2><a class="btn btn-primary" href="readme" role="button">Руководство пользователя</a> </h2>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/jquery-3.4.1.js"></script>
</body>
</html>