<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Выборки</title>
</head>
<body background="images/bg1.png" bgproperties="fixed">
<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-md-auto">

<form method="POST"
      action="queriesFind" modelAttribute="queries">
    <header><h2>Поиск по имени и фамилии</h2></header>
    <input type="text" value="findByName" name="findMethod" hidden="true">
    <label for="studentName">Введите имя и фамилию студента</label>
    <input type="text" name="studentName" id="studentName" required pattern="[A-Za-zА-Яа-яЁё]{2,}\s[A-Za-zА-Яа-яЁё]{2,}">
    <input type="submit" class="btn btn-primary" value="Поиск">
</form>

<form method="POST"
      action="queriesFind" modelAttribute="queries">
    <header><h2>Поиск по группе</h2></header>
    <input type="text" value="findByGroup" name="findMethod" hidden="true">
    <label for="studentGroup">Введите группу студента</label>
    <input type="text" name="studentGroup" id="studentGroup" required pattern="[1-4][\-][0-9]{2}">
    <input type="submit" class="btn btn-primary" value="Поиск">
</form>

<form method="POST"
      action="queriesFind" modelAttribute="queries">
    <header><h2>Поиск по отделению</h2></header>
    <input type="text" value="findByBranch" name="findMethod" hidden="true">
    <label for="studentBranch">Введите отделение студента</label>
    <input type="text" name="studentBranch" id="studentBranch" required  pattern="[A-ZА-ЯЁ]{2,5}">
    <input type="submit" class="btn btn-primary" value="Поиск">
</form>

<form method="POST"
      action="queriesFind" modelAttribute="queries">
    <header><h2>Поиск по дате прохождения теста</h2></header>
    <h5 th:text="${error}">...</h5>
    <input type="text" value="findByDate" name="findMethod" hidden="true">
    <label for="testingDate">Введите Дату</label>
    <p> <input type="date" name="testingDate" id="testingDate" required>
    <input type="submit" class="btn btn-primary" value="Поиск">
</form>
            <hr>
            <p><a class="btn btn-primary" href="teacher" role="button">Вернуться к интерфейсу учителя</a></p>
            <hr>
            <p><a class="btn btn-secondary" href="index" role="button">Вернуться к выбору пользователя</a></p>
        </div>
        <div class="col">

        </div>
    </div>
</div>
<script href="/js/bootstrap.min.js"></script>
<script href="/js/bootstrap.bundle.js"></script>
<script href="/js/jquery-3.4.1.js"></script>
</body>
</html>