<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Выборки</title>
</head>
<body background="images/bg1.png" bgproperties="fixed">
<div class="container">
    <tr class="row">
        <div class="col">
        </div>
        <tr class="col-md-auto">
    <h3 th:text="${info}">...</h3>
            <table class="table">
                <thead>
                <tr>

                </tr>
                </thead>
                <tbody>

    <th:block th:each="find,iterStat : ${findStudents}"  th:class="${iterStat.odd}? 'odd'">
       <div>
           <tr>

           <th># <span scope="row" th:text="${iterStat.count}">...</span></th>
           <td>Имя и фамилия: <span th:text="${find.findStudent.name}">...</span></td>



           <td>Группа:  <span th:text="${find.findStudent.studentsGroup}">...</span></td>



           <td>Отделение:  <span th:text="${find.findStudent.branch}">...</span></td>

           </tr>

        <tr th:each="results : ${find.studentResult}" >
            <td>  </td>
            <td> Название теста <span th:text="${results.testName}">testName</span></td>


        <td> Оценка: <span th:text="${results.mark}">...</span></td>



            <td> Кол-во правильных ответов: <span th:text="${results.correctAnswers}">...</span> из <span th:text="${results.questionCount}">...</span> </td>


            <td> Дата прохождения теста: <span th:text="${results.testingDate}">...</span></td>


        </tr>

    </div>

    </th:block>
                </tbody>
</table>
<hr>
<p><a class="btn btn-primary" href="teacher" role="button">Вернуться к интерфейсу учителя</a></p>
<hr>
<p><a class="btn btn-secondary" href="index" role="button">Вернуться к выбору пользователя</a></p>
</div>
<div class="col">
</div>
</div>
</div>
<script href="/js/bootstrap.min.js"></script>
<script href="/js/bootstrap.bundle.js"></script>
<script href="/js/jquery-3.4.1.js"></script>
</body>
</html>