<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Руководство пользователя</title>
</head>
<body background="images/bg1.png" bgproperties="fixed">
<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-md-auto">

            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Здравствуй, пользователь !</h1>
                    <p class="lead">Это руководство ответит на вопросы, касающиеся фунционала данного приложения.</p>
                </div>
            </div>
            <h1>Начало работы</h1>
            <p>Первая страница на которую вы попадёте - страница выбора пользователя.</p>
            <img src="images/indexRM.png" class="img-fluid">
           <p>На этой странице вы выбираете нужный вам аккаунт. Вы можете войти как преподаватель и использовать
            функционал управления данным приложением (создание тестов и просмотр результатов тестирования) или
            войти как студент и пройти тестирование. </p>
            <h1>Функционал студента</h1>
            <p>Нажав на кнопку "Войти как студент" вы попадаете на страницу с формой ввода данных студента.</p>
            <img src="images/studentRM.png" class="img-fluid">
            <p>На этой странице вам необходимо ввести свои данные (имя и фамилию, группу и отделение) в соответсвии
            с правилами валидации формы:
            </p>
            <p>Имя и фамилия: 2 слова, разделенные пробелом;</p>
            <p>Группа: одна цифра от 1 до 4(курс) и две цифры, обозначающие номер группы, например 3-15;</p>
            <p>Наименование отделения: Заглавные буквы, без пробелов;</p>
            <p>Далее, нажав кнопку "Начать тест" вы переходите на страницу с самим тестом, составленным преподавателем.</p>
            <p>На форме есть кнопка "Вернуться к выбору пользователя" которая перенесет вас на начальную страницу.</p>
            <h2>Тест</h2>
            <p>Введя свои данные вы попадаете на страницу с выбором теста.</p>
            <img src="images/takeTest.png" class="img-fluid">
            <p>Выбрав тест вы перейдете на страницу теста. </p>
            <img src="images/testRM.png" class="img-fluid">
            <p>На этой странице выводятся вопросы. Вы отвечаете на них и нажимаете кнопку "Отправить". Этим заканчивается тест.</p>

            <h2>Страница результатов</h2>
            <p>Закончив тест вы попадаете на страницу результатов, которая показывает вам правильные ответы, ваши ответы,
            кол-во правильно выбранных вами ответов и вашу оценку.</p>
            <img src="images/testResultRM.png" class="img-fluid">
            <p>Кнопка "Вернуться к выбору пользователя" вернёт вас на начальную страницу.</p>
            <h1>Функционал преподавателя</h1>
            <h2>Вход в аккаунт</h2>
            <p>Нажав на кнопку "Войти как преподаватель" вас перенесет на форму ввода логина и пароля от аккаунта преподавателя.</p>
            <img src="images/loginRM.png" class="img-fluid">
            <p>Серая кнопка "Вернуться к выбору пользователя" вернет вас на начальную страницу.</p>
            <h2>Учительская</h2>
            <p>После входа в аккаунт преподавателя вас перенесет на страницу "Учительской".</p>
            <img src="images/teacherRM.png" class="img-fluid">
            <p>На ней вы можете создать вопрос или просмотреть результаты тестирования студентов (Выборки).</p></p>
            <p>Нажав кнопку "Выйти" вы покинете аккаунт преподавателя и перенесетесь на страницу выбора пользователя.</p>
            <p>Кнопка "Вернуться к выбору пользователя" вернёт вас на начальную страницу, при этом аккаунт преподавателя
            вы не покинете.</p>
            <h2>Создание теста</h2>
            <p>Нажав кнопку "Создать тест" вы перенесетесь на страницу создания теста.</p>
            <img src="images/createTest.png" class="img-fluid">
            <p>На этой странице вам нужно ввести название теста и количество вопросов.
                После нажатия кнопки "Создать тест" вы перейдёте на страницу создания вопросов.
            </p>



            <img src="images/сreateQRM.png" class="img-fluid">
            <p>На этой странице вы можете создать вопрос. Для этого вам нужно заполнить все поля на форме и выбрать правильный
            ответ, нажав на одну из радиокнопок под текстом вопроса. Правильный ответ может быть только один.</p>
            <img src="images/CreateQCORM.png"  alt="images/сreateQRM2.png" class="img-fluid">
            <p>На данном изображении красным квадратом выделены радиокнопки.</p>
            <p>После успешного создания теста вы перейдёте на страницу, оповещающую вас, что тест успешно создан.</p>
            <img src="images/qCRM.png" class="img-fluid">
            <p>Кнопка "Вернуться к интрефейсу учителя перенесет вас в "Учительскую".</p>
            <p>Серая кнопка "Вернуться к выбору пользователя" вернет вас на начальную страницу.</p>
            <p>В обоих случаях аккаунт учителя вы не покинете.</p>
            <h2>Выборки</h2>
            <p>Нажав кнопку "Выборки" вас перенесет на страницу поиска студентов по заданным критериям.</p>
            <img src="images/queriesRM.png" class="img-fluid">
            <p>На этой странице вы вводите данные и ищете студентов по одному критерию из четырёх возможных (Имя и фамилия,
            группа, отделение или дата прохождения тестирования)</p>
            <p>Нажав кнопку "Поиск" вы получите список студентов, подходящих под критерий</p>
            <img src="images/QFRM.png" class="img-fluid">
            <p>или сообщение, что таких нет.</p>
            <img src="images/QFNFRM.png" class="img-fluid">
            <p>Кнопка "Вернуться к интрефейсу учителя" перенесет вас в "Учительскую".</p>
            <p>Серая кнопка "Вернуться к выбору пользователя" вернет вас на начальную страницу.</p>
            <p>В обоих случаях аккаунт учителя вы не покинете.</p>
            <hr>
            <p><a class="btn btn-primary" href="index" role="button">Вернуться к выбору пользователя</a></p>




        </div>
        <div class="col">

        </div>


    </div>

</div>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/jquery-3.4.1.js"></script>
</body>
</html>