<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Учительская</title>
</head>
<body background="images/bg1.png" bgproperties="fixed">
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-md-auto">
<h3 th:inline="text">Здравствуйте, [[${#httpServletRequest.remoteUser}]]!</h3>
            <p><a class="btn btn-primary" href="addQuest" role="button">Создать вопрос</a></p>
            <p><a class="btn btn-primary" href="queries" role="button">Выборки</a></p>

<form th:action="@{/logout}" method="post">
    <input type="submit" class="btn btn-secondary" value="Выйти"/>
</form>
            <hr>
            <p><a class="btn btn-secondary" href="index" role="button">Вернуться к выбору пользователя</a></p>
        </div>
        <div class="col"></div>
    </div>
</div>
<script href="/js/bootstrap.min.js"></script>
<script href="/js/bootstrap.bundle.js"></script>
<script href="/js/jquery-3.4.1.js"></script>
</body>
</html>